@model VisualViewModel

<link rel="stylesheet" href="~/css/test.css" />

<div class="card">
    <div class="card-header">
        Visual Editor
    </div>
    <div class="card-body">
        <form method="post" asp-action="Edit">

            <label>Cells count: @Model.Warehouse.Cells.Count</label>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Packing Area</th>
                            @for (int col = 0; col < Model.Warehouse.Width; col++)
                            {
                                <th>
                                </th>
                            }
                            <th>Receiving Area</th>
                        </tr>
                        @for (int row = 0; row < Model.Warehouse.Length; row++)
                        {
                            <tr>
                                <td>
                                </td>
                                @for (int col = 0; col < Model.Warehouse.Width; col++)
                                {
                                    int i = row * Model.Warehouse.Width + col;
                                    <td>
                                        @if (Model.Warehouse.Cells[i].IsAisle)
                                        {
                                            <label class="cell-label is-aisle">@col ; @row</label>
                                        }
                                        else if (Model.Warehouse.Cells[i].IsRack)
                                        {
                                            <label class="cell-label is-rack">@col ; @row</label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="cell-checkbox" asp-for="@Model.Warehouse.Cells[i].IsSelected" />
                                            <label class="cell-label" asp-for="@Model.Warehouse.Cells[i].IsSelected">@col ; @row</label>
                                            
                                        }
                                        <input type="hidden" asp-for="@Model.Warehouse.Cells[i].Id" />
                                    </td>
                                }
                                <input type="hidden" asp-for="@Model.Warehouse.Id" />
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Number" class="form-control border-0 shadow" />
                <label asp-for="Number" class="ms-2"></label>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-6 col-md-3">
                    <button type="submit" asp-action="CreateRack" class="btn btn-primary form-control">Create Rack</button>
                </div>
                <div class="col-6 col-md-3">
                    <button type="submit" asp-action="CreateAisle" class="btn btn-primary form-control">Create Aisle</button>
                </div>
            </div>
        </form>
    </div>
</div>
