@model VisualViewModel

<link rel="stylesheet" href="~/css/cell-color.css" />
<div class="card">
    <div class="card-header">
        Visual Stock Locator
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-sm border-secondary text-center">
                <tbody>
                    <tr>
                        <th>Packing Area</th>
                        @for (int col = 0; col < Model.Warehouse.Width; col++)
                        {
                            <th class="text-center">
                            </th>
                        }
                        <th>Receiving Area</th>
                    </tr>
                    @for (int row = 0; row < Model.Warehouse.Length; row++)
                    {
                        <tr>
                            <td>
                            </td>
                            @for (int col = 0; col < Model.Warehouse.Width; col++)
                            {
                                int i = row * Model.Warehouse.Width + col;
                                @if (Model.Warehouse.Cells[i].IsAisle)
                                {
                                    <td class="aisle">@Model.Warehouse.Cells[i].LabeledText</td>
                                }
                                else if (Model.Warehouse.Cells[i].IsRack)
                                {
                                    if (Model.Warehouse.Cells[i].IsNotEmpty)
                                    {
                                        <td class="rack-filled">@Model.Warehouse.Cells[i].LabeledText</td>
                                    }
                                    else
                                    {
                                        <td class="rack-empty">@Model.Warehouse.Cells[i].LabeledText</td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Shelf Level
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Level 1</a></li>
                <li><a class="dropdown-item" href="#">Level 2</a></li>
                <li><a class="dropdown-item" href="#">Level 3</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Contents
    </div>
    <div class="card-body">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Container</th>
                    <th scope="col">Product</th>
                    <th scope="col">Location</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            @* <tbody>
                @foreach (var item in Model.Warehouse.Items)
                {
                    <tr>
                        <td>@item.Container</td>
                        <td>@item.Product</td>
                        <td>@item.Location</td>
                        <td>@item.ExpiryDate</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Process</a></li>
                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody> *@
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination w-100 justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

